[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
pandas = "*"
petl = "*"
fire = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
